{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="FertilizerRecommendation.html">Fertilizer</a></li>
<li><a href="PesticideRecommendation.html" >Pesticide</a></li>
<li><a href="TomatoDetection.html" class="active">Tomato Disease</a></li>

{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Identified Disease: <i>Tomato_Late_blight</i></b>
</h2>

<img style="border-radius: 5%;margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static\img\0b33d7a7-d017-4857-845a-874a004ccd26___RS_Late.B 4970.JPG" alt="prudent">
{% endblock %}